<!-- <mat-nav-list class="sidenav-list">
  <a mat-list-item routerLink="/apparel" (click)="onToggleClose()">
    <span>Garments</span>
  </a>
  <a mat-list-item routerLink="/bath" (click)="onToggleClose()">
    <span>Bath Accessories</span>
  </a>
  <a mat-list-item routerLink="/kitchen" (click)="onToggleClose()">
    <span>Kitchen Accessories</span>
  </a>
  <a mat-list-item routerLink="/food" (click)="onToggleClose()">
    <span>Food items</span>
  </a>
  <a mat-list-item routerLink="/offer" (click)="onToggleClose()">
    <span>Offers Zone</span>
  </a>
</mat-nav-list> -->
