<section class="shop">
    <div class="head" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center" >
      <mat-card class="head-back" fxFlex="45%;" fxFlex.sm="100%">
       
      </mat-card>
      
    </div>
    <div class="head-name" fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
      <h3>GARMENTS</h3>
    </div>
    
       </section>
       <div class="container-fluid">
       <div class="rooms-home-display" fxLayout.xs="column" fxLayoutGap="1%"  fxFlexLayoutWrap fxLayoutAlign="center center">
          <mat-card  fxFlex="30" fxFlex.sm="80">
              <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
                
                    <mat-nav-list class="sidenav-list">
                        
                          <a mat-list-item routerLink="/apparel" >
                            <span>Garments</span>
                          </a>
                          <a mat-list-item routerLink="/bath" >
                            <span>Bath Accessories</span>
                          </a>
                          <a mat-list-item routerLink="/kitchen">
                            <span>Kitchen Accessories</span>
                          </a>
                          <a mat-list-item routerLink="/food">
                            <span>Food items</span>
                          </a>
                        
                      </mat-nav-list>
                
              </mat-card-header>
              
            </mat-card>  
        <mat-card class="" fxFlex="30" fxFlex.sm="80">
            <div class="">
                <div class="img"><img src="../../assets/imgs/garment3.jpg"  class="img-fluid offer-img "  alt=""></div>
                <h4>Price 1599 only</h4>
                <div class="mat-btn"><button mat-button color="accent"><h4>Order Now</h4></button>
                 </div>
               </div>
        </mat-card>
          <mat-card class="" fxFlex="30" fxFlex.sm="80">
            <div class="">
              <div class="img"><img src="../../assets/imgs/garment23.jpg" class="img-fluid offer-img "  alt=""></div>
              <h4>Price 999 only</h4>
              <div class="mat-btn"><button mat-button color="accent"><h4>Order Now</h4></button>
              </div>
            </div>
            </mat-card>
            <mat-card class="" fxFlex="30" fxFlex.sm="80">
              <div class="">
                <div class="img"><img src="../../assets/imgs/garment24.jpg" class="img-fluid offer-img "  alt=""></div>
                <h4>Price 1599 only</h4>
                <div class="mat-btn"><button mat-button color="accent"><h4>Order Now</h4></button>
                </div></div>
              </mat-card>
        </div>
        <div class="rooms-home-display" fxLayout.xs="column" fxLayoutGap="1%"  fxFlexLayoutWrap fxLayoutAlign="center center">
            <mat-card  fxFlex="30" fxFlex.sm="80">
                
                
              </mat-card>  
              <mat-card class="" fxFlex="30" fxFlex.sm="80">
                <div class="">
                  <div class="img"><img src="../../assets/imgs/garment25.jpg" class="img-fluid offer-img "  alt=""></div>
                  <h4>Price 2599 only</h4>
                  <div class="mat-btn"><button mat-button color="accent"><h4>Order Now</h4> </button>
                  </div>
                 </div>
                </mat-card>
                <mat-card class="" fxFlex="30" fxFlex.sm="80">
                  <div class="">
                    <div class="img"><img src="../../assets/imgs/garment26.jpg" class="img-fluid offer-img "  alt=""></div>
                    <h4>Price 2999 only</h4>
                    <div class="mat-btn"><button mat-button color="accent"><h4>Order Now</h4></button>
                    </div>
                   </div>
                  </mat-card>
                  <mat-card class="" fxFlex="30" fxFlex.sm="80">
                    <div class="">
                      <div class="img"><img src="../../assets/imgs/garment20.jpg" class="img-fluid offer-img "  alt=""></div>
                      <h4>Price 1899 only</h4>
                      <div class="mat-btn"><button mat-button color="accent"><h4>Order Now</h4></button>
                      </div>
                     </div>
                    </mat-card>
          </div>
        </div>