<mat-sidenav-container>

  <mat-sidenav #sidenav>
    <app-sidenav-list (closeSideNavigation)="sidenav.close()"></app-sidenav-list>
<!-- <app-sidenav-list></app-sidenav-list> -->
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- <app-navtabs (SideNavigationToggle)="sidenav.toggle()"></app-navtabs> -->
    <app-navtabs></app-navtabs>
<!-- <app-shop (SideNavigationToggle)="sidenav.toggle()"></app-shop> -->
    <main>
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </main>
  </mat-sidenav-content>
  
</mat-sidenav-container>


    
 
