<section class="shop">
    <div class="head" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center" >
      <mat-card class="head-back" fxFlex="45%;" fxFlex.sm="100%">
       
      </mat-card>
      
    </div>
    <div class="head-name" fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
      <h3>BATH ACCESSORIES</h3>
    </div>
    
       </section>
       <div class="container-fluid">
        <div class="rooms-home-display" fxLayout.xs="column" fxLayoutGap="1%"  fxFlexLayoutWrap fxLayoutAlign="center center">
           <mat-card  fxFlex="30" fxFlex.sm="80">
               <mat-card-header fxLayout="column" fxLayout="row" fxLayoutAlign="center center">
                 
                     <mat-nav-list class="sidenav-list">
                         
                           <a mat-list-item routerLink="/apparel" >
                             <span>Garments</span>
                           </a>
                           <a mat-list-item routerLink="/bath" >
                             <span>Bath Accessories</span>
                           </a>
                           <a mat-list-item routerLink="/kitchen">
                             <span>Kitchen Accessories</span>
                           </a>
                           <a mat-list-item routerLink="/food">
                             <span>Food items</span>
                           </a>
                         
                       </mat-nav-list>
                 
               </mat-card-header>
               
             </mat-card>  
         <mat-card class="" fxFlex="30" fxFlex.sm="80">
             <div class="">
                 <div class="img"><img src="../../assets/imgs/bath1.jpg"  class="img-fluid offer-img "  alt=""></div>
                 <h4>Price 13599 only</h4>
                 <div class="mat-btn"><button mat-button color="accent"><h4>Order Now</h4></button>
                  </div>
                </div>
         </mat-card>
           <mat-card class="" fxFlex="30" fxFlex.sm="80">
             <div class="">
               <div class="img"><img src="../../assets/imgs/bath5.jpg" class="img-fluid offer-img "  alt=""></div>
               <h4>Price 9999 only</h4>
               <div class="mat-btn"><button mat-button color="accent"><h4>Order Now</h4></button>
               </div>
             </div>
             </mat-card>
             <mat-card class="" fxFlex="30" fxFlex.sm="80">
               <div class="">
                 <div class="img"><img src="../../assets/imgs/bath6.jpg" class="img-fluid offer-img "  alt=""></div>
                 <h4>Price 19999 only</h4>
                 <div class="mat-btn"><button mat-button color="accent"><h4>Order Now</h4></button>
                 </div></div>
               </mat-card>
         </div>
         <div class="rooms-home-display" fxLayout.xs="column" fxLayoutGap="1%"  fxFlexLayoutWrap fxLayoutAlign="center center">
             <mat-card  fxFlex="30" fxFlex.sm="80">
                 
                 
               </mat-card>  
               <mat-card class="" fxFlex="30" fxFlex.sm="80">
                 <div class="">
                   <div class="img"><img src="../../assets/imgs/bath3.jpg" class="img-fluid offer-img "  alt=""></div>
                   <h4>Price 15999 only</h4>
                   <div class="mat-btn"><button mat-button color="accent"><h4>Order Now</h4> </button>
                   </div>
                  </div>
                 </mat-card>
                 <mat-card class="" fxFlex="30" fxFlex.sm="80">
                   <div class="">
                     <div class="img"><img src="../../assets/imgs/bath9.jpg" class="img-fluid offer-img "  alt=""></div>
                     <h4>Price 10099 only</h4>
                     <div class="mat-btn"><button mat-button color="accent"><h4>Order Now</h4></button>
                     </div>
                    </div>
                   </mat-card>
                   <mat-card class="" fxFlex="30" fxFlex.sm="80">
                     <div class="">
                       <div class="img"><img src="../../assets/imgs/bath10.jpg" class="img-fluid offer-img "  alt=""></div>
                       <h4>Price 12599 only</h4>
                       <div class="mat-btn"><button mat-button color="accent"><h4>Order Now</h4></button>
                       </div>
                      </div>
                     </mat-card>
           </div>
         </div>